# Python cache files
__pycache__/
*.py[cod]
*$py.class

# renaming temporary files
*renaming_powershell.txt
*.xlsx
*.csv

# Pytest cache
.pytest_cache/

# Virtual Environments
venv/
env/
.env

# IDE configurations (optional but good practice)
.vscode/
.idea/